* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
}

header {
    background: #163a2d;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    background: white;
    color: #163a2d;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.card h3 {
    margin: 10px 0;
}

.card span {
    color: #14062f;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

.card button {
    background: #14062f;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}

.carrito {
    background: white;
    position: fixed;
    right: 20px;
    top: 80px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.carrito ul {
    list-style: none;
    margin: 15px 0;
}

.carrito li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.carrito button {
    background: #16a34a;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
}

.oculto {
    display: none;
}


#mensaje {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
